/* GLOBAL */

:root {
  --purple: #7a7af5;
  --darkblue: #000020;
  --greytransp: rgba(177,177,180,0.8);
  --grey: rgb(177, 177, 180);
  --shadow: rgba(0,0,0,.1);
  --darkgrey: rgb(124, 124, 124);
  --superdark: #333;
  --darkpurple: #0f072c;
  --colour1: rgb(58,65,190);
  --colour2: rgb(65,77,224);
  --colour3: rgb(10,12,28);
  --colour4: #ccc;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

.React {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.topnav {
  background-color: rgb(177, 177, 180);
  padding: 10px 10px 10px 10px;
}

.topnav img {
  height: 35px;
  width: 350px;
}

.social-card {

}

.social-icons {
  width: 25%;
  margin: 0px auto;
}

.left-icon {
  margin-right: 35px;
}

/* MOBILE */

.gap {
  margin-top: 15px;
}

h2 {
  color: var(--colour4);
  border: 3px solid var(--colour1);
  background: radial-gradient(var(--colour2), var(--colour3) 85%);
  padding: 10px 25px 10px 25px;
  justify-content: center;
  margin: 5px;
  margin-bottom: 15px;
}

.card {
  background: var(--greytransp);
  margin: 2.5% 5%;
  padding: 10px;
  border-radius: 25px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-list {
  padding-top: 20px;
}

.each-item-list h2 {
  margin: 0px 5px;
  padding: 5px 5px;
}

.skills img {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hundoimage {
  width: 100%;
}

.heading {
  width: 30%;
}

.rounded-border {
  border-radius: 25px;
}

/* TABLET */

@media only screen and (min-width: 600px) {
  .aboutme, .skills, .projects, .contact {
    padding: 0px 15%;
  }
}

/* DESKTOP */

@media only screen and (min-width: 950px) {
  .aboutme, .skills, .projects, .contact {
    padding: 0px 30%;
  }
}