body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}
#index .container {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: inherit;
  width: 100%;
  height: auto;
}
